@use "../../styles/globals.scss";

.messageWrapper {
  inline-size: var(--inline-size-100);
  block-size: var(--block-size-100);
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  gap: var(--space-8);
  padding-block-end: var(--space-12);
  margin-block-end: var(--space-8);
  overflow-block: auto;
}
