@use "../../styles/globals.scss";

.messageWrapper {
  position: relative;
  inline-size: var(--inline-size-100);
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: var(--space-8);
  padding-block-end: var(--space-12);
  overflow-block: auto;

  .topSpacer {
    flex-grow: 1;
  }

  .newMessageIndicator {
    position: sticky;
    bottom: var(--space-16);
    align-self: center;
    display: inline-flex;
    align-items: center;
    gap: var(--space-4);
    padding: var(--space-6) var(--space-12);
    background-color: var(--blue-primary);
    color: var(--white-primary);
    font-size: var(--font-size-sm);
    border-radius: var(--border-radius-100);
    cursor: pointer;
    box-shadow: var(--box-shadow-quinary);
    z-index: var(--z-index-badge);

    &:hover {
      background-color: var(--blue-secondary);
      transform: translateY(-1px);
    }
  }
}
