@use "../../styles/globals.scss";

.messagesContainer {
  display: flex;
  flex-direction: column;
  inline-size: 100%;
  padding-inline: var(--space-8);

  .sentMessage,
  .recievedMessage {
    display: inline-block;
    padding-block: var(--space-6);
    padding-inline: var(--space-12);
    color: var(--white-primary);
    font-size: var(--font-size-14);
    line-height: var(--line-height-rel-16);
    max-inline-size: 60%;
    overflow-wrap: break-word;
    word-break: break-word;
    border-radius: var(--border-radius-md);
    text-align: left;
  }

  .sentMessage {
    align-self: flex-end;
    background-color: var(--blue-primary);
    margin-inline-start: auto;
    margin-inline-end: var(--space-4);
  }

  .receivedMessage {
    align-self: flex-start;
    background-color: var(--grey-primary);
    margin-inline-end: auto;
    margin-inline-start: var(--space-4);
  }
}
