:root {
  /* ----COLORS---- */
  --green-primary: #3b945e;
  --green-secondary: #abe0a7;
  --green-tertiary: #2db224;
  --green-quaternary: #5da379;
  --green-quinary: #e8f5e9;
  --green-senary: #c2decd;
  --green-septenary: #ebf4ef;
  --green-octonary: #eaf7e9;
  --green-octonary: #03c68b;

  --grey-primary: #adb7bc;
  --grey-secondary: #f2f4f5;
  --grey-tertiary: #e4e7e9;
  --grey-quaternary: #77878f;
  --grey-quinary: #5f6c72;
  --grey-senary: #303639;
  --grey-septenary: #475156;
  --grey-octonary: #929fa5;

  --white-primary: #ffffff;
  --white-secondary: #f5f5f5;
  --white-tertiary: #d9d9d9;
  --white-quaternary: #e3e3e3;
  --white-quinary: #d5edfd;
  --white-senary: #f8f9fa;

  --bg-transparent: transparent;

  --black-primary: #191c1f;
  --black-secondary: #00000014;
  --black-tertiary: #131921;
  --black-quaternary: #0000001f;
  --black-quinary: #ffffff29;
  --black-senary: #0000002b;
  --black-septenary: #00000029;
  --black-octonary: #212529;

  --blue-primary: #2da5f3;
  --blue-secondary: #1a71f6;
  --blue-tertiary: #eaf6fe;

  --yellow-primary: #efd33d;
  --yellow-secondary: #f3de6d;
  --yellow-tertiary: #ebc80c;
  --yellow-quaternary: #fbf4ce;

  --bg-transparent: transparent;

  --red-primary: #ee5858;
  --red-secondary: #ff2d55;
  --red-tertiary: #dc2626;

  --green-heroImage: #c4fff1;

  /* ----TYPOGRAPHY---- */
  --font-size-6: 6px;
  --font-size-8: 8px;
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-13: 13px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-18: 18px;
  --font-size-20: 20px;
  --font-size-22: 22px;
  --font-size-24: 24px;
  --font-size-26: 26px;
  --font-size-28: 28px;
  --font-size-30: 30px;
  --font-size-32: 32px;
  --font-size-34: 34px;
  --font-size-36: 36px;
  --font-size-38: 38px;
  --font-size-40: 40px;
  --font-size-42: 42px;
  --font-size-48: 48px;
  --font-size-56: 56px;
  --font-size-66: 66px;

  /* ----FONT SIZE IN REM---- */
  --font-size-rem-multiplier-0_9: 0.9rem;
  --font-size-rem-multiplier-1_05: 1.05rem;
  --font-size-rem-multiplier-1_1: 1.1rem;

  --text-weight-primary: 400;
  --text-weight-secondary: 500;
  --text-weight-tertiary: 600;
  --text-weight-quaternary: 700;
  --text-weight-800: 800;

  --line-height-primary: 20px;
  --line-height-secondary: 32px;
  --line-height-tertiary: 40px;
  --line-height-quaternary: 48px;
  --line-height-14: 14px;
  --line-height-18: 18px;
  --line-height-24: 24px;
  --line-height-26: 26px;
  --line-height-28: 28px;
  --line-height-32: 32px;
  --line-height-40: 40px;

  /* ----RELATIVE LINE HEIGHT---- */
  --line-height-rel-16: 1.6;
  --line-height-rel-18: 1.8;

  --font-primary: var(--font-montserrat), "Montserrat", sans-serif;
  --font-secondary: var(--font-poppins), "Poppins", sans-serif;
  --font-tertiary: var(--font-roboto), "Roboto", "Arial", sans-serif;
  --font-quaternary: var(--font-public-sans), "Public Sans", sans-serif;

  /* ----SPACING ----- */
  --space-0: 0px;
  --space-2: 2px;
  --space-4: 4px;
  --space-5: 5px;
  --space-6: 6px;
  --space-8: 8px;
  --space-10: 10px;
  --space-12: 12px;
  --space-14: 14px;
  --space-15: 15px;
  --space-16: 16px;
  --space-18: 18px;
  --space-20: 20px;
  --space-22: 22px;
  --space-24: 24px;
  --space-30: 30px;
  --space-32: 32px;
  --space-38: 38px;
  --space-40: 40px;
  --space-44: 44px;
  --space-48: 48px;
  --space-50: 50px;
  --space-56: 56px;
  --space-60: 60px;
  --space-64: 64px;
  --space-72: 72px;
  --space-76: 76px;
  --space-80: 80px;
  --space-150: 150px;
  --space-300: 300px;

  /* ----LETTER SPACING ----- */

  --letter-spacing-tight: -0.5px;
  --letter-spacing-normal: 0;
  --letter-spacing-wide: 0.5px;

  /* ----BORDER---- */
  --border-xs: 1px;
  --border-sm: 2px;
  --border-md: 4px;
  --border-lg: 6px;

  /* ----BORDER WIDTH---- */
  --border-width-primary: 1px;

  /* ----BORDER RADIUS---- */
  --border-primary: var(--grey-tertiary);
  --border-radius-0: 0px;
  --border-radius-sm: 4px;
  --border-radius-md: 8px;
  --border-radius-lg: 12px;

  --border-radius-2: 2px;
  --border-radius-3: 3px;
  --border-radius-5: 5px;
  --border-radius-6: 6px;
  --border-radius-10: 10px;
  --border-radius-14: 14px;
  --border-radius-15: 15px;
  --border-radius-16: 16px;
  --border-radius-18: 18px;
  --border-radius-24: 24px;
  --border-radius-26: 26px;
  --border-radius-37: 37px;
  --border-radius-38: 38px;
  --border-radius-50: 50px;
  --border-radius-100: 100px;
  --border-radius-circle: 50%;

  /* ----- Z-INDEX -----*/
  --z-index-badge: 5;

  /* ------ BOX-SHADOW -----*/
  --box-shadow-primary: 0px 8px 40px 0px var(--black-quaternary);
  --box-shadow-secondary: 0px 0px 4px 0px var(--black-senary);
  --box-shadow-ternary: 0 8px 40px var(--black-secondary);
  --box-shadow-quaternary: 0px 0px 24.4px 0px var(--black-secondary);
  --box-shadow-quinary: 0 8px 24px var(--black-quaternary);
  --box-shadow-septenary: 0px 16px 48px 0px var(--black-septenary);
  --box-shadow-top: 0 -2px 10px rgba(0, 0, 0, 0.1);

  /* ------ LOGICAL-PROPERTIES ------*/
  --inline-size-100: 100%;
  --block-size-100: 100%;
  // @shrikanth: Don't add any more logical properties here. It does not go here ideally but its fine for 100%

  /* ------ MEDIA-QUERY ------*/
  --tablet: 540px;

  /* ------ MEDIA-QUERY ------*/

  // Small text
  --font-size-sm: 14px;
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-md: 18px;

  // Heading sizes
  --font-size-lg: 20px;
  --font-size-xl: 24px;
  --font-size-2xl: 30px;
  --font-size-3xl: 36px;
  --font-size-4xl: 48px;
  --font-size-5xl: 60px;
  --font-size-6xl: 72px;
}

.flex {
  display: flex;

  &.row {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.row-reverse {
    flex-direction: row-reverse;
  }

  &.column-reverse {
    flex-direction: column-reverse;
  }

  &.wrap {
    flex-wrap: wrap;
  }

  &.justify-space-between {
    justify-content: space-between;
  }

  &.align-items-center {
    align-items: center;
  }
  &.justify-center {
    justify-content: center;
  }

  &.align-center {
    align-items: center;
  }

  &.align-flex-start {
    align-items: flex-start;
  }
}

.clamp-line-to-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp-line-to-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.clamp-line-to-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.position {
  &.relative {
    position: relative;
  }

  &.absolute {
    position: absolute;
  }

  &.fixed {
    position: fixed;
  }

  &.sticky {
    position: sticky;
  }

  &.top-0 {
    top: 0;
  }

  &.bottom-0 {
    bottom: 0;
  }

  &.left-0 {
    left: 0;
  }

  &.right-0 {
    right: 0;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.overflow-x-hidden {
  overflow-x: hidden;
}
