@use "../../styles/globals.scss";

.containerBackground {
  inline-size: 100%;
  block-size: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .chatContainer {
    inline-size: 100%;
    block-size: 100%;
    display: flex;
    gap: var(--space-4);
  }
}
