@use "../../styles/globals.scss";

.selectedChat {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-block-end: var(--space-12);
}
